.bg {
    background-color: #e4e4e4;
}

* {
    font-family: arial, sans-serif;
}

main {
    margin-left: 260px;
    padding: 0px 10px;
}

div {
    width: 96%;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 6px 1px rgba(85,85,85,.24);
}

h1 {
    margin-top: 5px;
    font-weight: bold;
    color: #4f4c87;
}
